# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Oliver Playground/[Ll]ibrary/
/Oliver Playground/[Tt]emp/
/Oliver Playground/[Oo]bj/
/Oliver Playground/[Bb]uild/
/Oliver Playground/[Bb]uilds/
/Oliver Playground/[Ll]ogs/
/Oliver Playground/[Uu]ser[Ss]ettings/
/FMP Experimentation/[Ll]ibrary/
/FMP Experimentation/[Tt]emp/
/FMP Experimentation/[Oo]bj/
/FMP Experimentation/[Bb]uild/
/FMP Experimentation/[Bb]uilds/
/FMP Experimentation/[Ll]ogs/
/FMP Experimentation/[Uu]ser[Ss]ettings/
/FMP Testing (Default Rendering)/[Ll]ibrary/
/FMP Testing (Default Rendering)/[Tt]emp/
/FMP Testing (Default Rendering)/[Oo]bj/
/FMP Testing (Default Rendering)/[Bb]uild/
/FMP Testing (Default Rendering)/[Bb]uilds/
/FMP Testing (Default Rendering)/[Ll]ogs/
/FMP Testing (Default Rendering)/[Uu]ser[Ss]ettings/
/FMP-VFX/[Aa]ssets/Blink/
/FMP-VFX/[Ll]ibrary/
/FMP-VFX/[Tt]emp/
/FMP-VFX/[Oo]bj/
/FMP-VFX/[Bb]uild/
/FMP-VFX/[Bb]uilds/
/FMP-VFX/[Ll]ogs/
/FMP-VFX/[Uu]ser[Ss]ettings/
/Laboom Playground/[Ll]ibrary/
/Laboom Playground/[Tt]emp/
/Laboom Playground/[Oo]bj/
/Laboom Playground/[Bb]uild/
/Laboom Playground/[Bb]uilds/
/Laboom Playground/[Ll]ogs/
/Laboom Playground/[Uu]ser[Ss]ettings/
/Kazi Playground (HDRP)/[Ll]ibrary/
/Kazi Playground (HDRP)/[Tt]emp/
/Kazi Playground (HDRP)/[Oo]bj/
/Kazi Playground (HDRP)/[Bb]uild/
/Kazi Playground (HDRP)/[Bb]uilds/
/Kazi Playground (HDRP)/[Ll]ogs/
/Kazi Playground (HDRP)/[Uu]ser[Ss]ettings/
# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
FMP-VFX/Assets/Blink.meta
